<div class="ui container">
  <div class="ui three column doubling stackable masonry grid">
    <%= render 'home/index/home/tumblr_timeline' %>
    <%= render 'home/index/home/flickr_timeline' %>
    <%= render 'home/index/home/projects_timeline'%>
  </div>
</div>
