<%=link_to user_project_like_path(@user.id, @project.id, @like.id), method:'DELETE', remote: true, class:'ui teal button like-button' do %>
  <i class="heart icon"></i> Liked!
<% end %>
<a class="ui basic teal left pointing label likes-count">
  <%=@project.likes.count%>
</a>
