<div class="ui grid two column">
  <div class="column">
    <div class="ui form">
      <div class="fields">
        <div class="inline field">
          <label>Email Address:</label>
          <input placeholder="<%=@user.email%>" readonly="" type="text">
        </div>
      </div>
      <div class="field change-email-window">
        <div class="divider ui"></div>
          <%= render 'users/forms/update_email' %>
        <div class="divider ui"></div>
      </div>
    </div>
  </div>
  <div class="column">
    <a class="ui button" id="change-email" href="#">Change Email</a>
  </div>
</div>
<div class="ui grid two column">
  <div class="column">
    <div class="ui form">
      <div class="fields">
        <div class="inline field">
          <label>Password:</label>
          <input placeholder="*********" readonly="" type="password">
        </div>
      </div>
      <div class="field change-password-window">
        <div class="divider ui"></div>
          <%= render 'users/forms/update_password' %>
        <div class="divider ui"></div>
      </div>
    </div>
  </div>
  <div class="column">
    <a class="ui button" id="change-password" href="">Change Password</a>
  </div>
</div>
