<% @user.ideas.each do |idea| %>
  <div class="item">
    <% if idea.photo.present? %>
    <%=image_tag(idea.photo, class: 'ui image avatar')%>
    <% else %>
    <i class="images large middle aligned grey icon"></i>
    <% end %>
    <div class="content">
      <div class="header"><%=idea.title%></div>
      <% if idea.description.present? %>
        <div class="description"><%= sanitize idea.description%></div>
      <% else %>
        <div class="description">No project description.</div>
      <% end %>
      <br/>
      <%=link_to "Create Inspired Project", user_inspired_project_path(@user.id, idea.id), class: 'ui teal button tiny'%>
    </div>
  </div>
<% end %>
