<div class="ui small secondary menu">
  <div class="ui container">
    <div class="header item">
      Thoughtlog
    </div>
    <div class="right menu">
      <div class="item">
        <%= link_to 'Logout', logout_path, method: 'delete', class: 'ui button' %>
      </div>
    </div>
  </div>
</div>
