<div class="ui small secondary menu">
  <div class="ui container">
    <div class="header item">
      Thoughtlog
    </div>
    <div class="right menu">
        <div class="item">
          <%= link_to 'Signup', signup_path, class: 'ui button' %>
        </div>
        <div class="item">
          <%= link_to 'Login', login_path, class: 'ui teal button' %>
        </div>
    </div>
  </div>
</div>
