<div class="ui container basic segment hidden">
  <div class="ui container text" style="margin-top:2em; margin-bottom: 2em">
    <div class="ui center aligned huge header teal" style="font-size: 5em;">
      <div class="content">
        Thoughtlog.
        <div class="sub header" style="font-size: 0.4em;">Act the way you think.</div>
      </div>
    </div>
  </div>
</div>
<div class="ui container segment">
  <div class="ui two column grid">
    <div class="column left aligned">
      <div class="ui teal header">
        <div class="content">
          Thoughts Timeline
          <div class="sub header">Log your thoughts while you are working on a project.</div>
        </div>
      </div>
    </div>
    <div class="column right aligned">
      <i class="lightbulb big teal outline icon"></i>
    </div>
  </div>
</div>
<div class="ui container segment">
  <div class="ui two column grid">
    <div class="column left aligned">
      <div class="ui teal header">
        <div class="content">
          Flickr & Tumblr API Integrated
          <div class="sub header">If you are looking for new ideas for a new project, you can find it here too!</div>
        </div>
      </div>
    </div>
    <div class="column right aligned">
      <i class="tumblr big teal icon"></i>
      <i class="flickr big teal icon"></i>
    </div>
  </div>
</div>
<div class="ui container segment">
  <div class="ui two column grid">
    <div class="column left aligned">
      <div class="ui teal header">
        <div class="content">
          Inspired Project
          <div class="sub header">You can build a project based on idea you inspired from. It's as easy as clicking Create.</div>
        </div>
      </div>
    </div>
    <div class="column right aligned">
      <i class="star outline big teal icon"></i>
    </div>
  </div>
</div>
