<% if signed_in? %>
  <div class="ui container">
    <div class="ui three column doubling stackable masonry grid">
      <%= render 'home/tumblr_timeline' %>
      <%= render 'home/flickr_timeline' %>
      <%= render 'home/projects_timeline'%>
    </div>
  </div>
<% end %>
