<% if @followings.any?%>
  <div class="ui container">
    <%= followed_user_projects_exists?(@followings) %>
  </div>
<% else %>
  <div class="ui container">
    <h4 class="ui grey center aligned header">Looks like you are not following anyone.</h4>
  </div>
<% end %>
