<div class="ui container text" style="padding-bottom: 3em;">
  <h1 class="ui teal header">Create a Project inspired by <%=@idea.title%>.</h1>
  <%= render 'projects/forms/new_inspired_project' %>
</div>
