<div class="ui container">
  <% unless @projects.nil? %>
    <% if @projects.empty? %>
      <%= render 'projects/search/results_without_projects' %>
    <% else %>
      <%= render 'projects/search/results_with_projects' %>
    <% end %>
  <% end %>
</div>
