//*= require trix

 @import "semantic-ui";
 @import "semantic-ui/collections/menu";
 @import "home";

 html, body {
   overflow-y: auto;
   padding-bottom: 3em;
 }

 .message.closable {
   margin-left: 20%;
   margin-right: 20%;
  }

  trix-editor {
    border: 1px solid rgba(34, 36, 38, 0.15)!important;
  }
