<div class="ui feed">
  <div class="event">
    <div class="label">
      <i class="frown outline icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        Nothing here...
      </div>
      <div class="extra text">
        Either the owner hasn't created his/her first thought, or something went wrong.
      </div>
    </div>
  </div>
</div>
