<div class="ui feed">
  <% @project.thoughts.includes(:user, :project).reverse.each do |thought| %>
    <div class="event">
      <div class="label">
        <%=image_tag(thought.user.avatar_url, class:'ui avatar image')%>
      </div>
      <div class="content">
        <div class="summary">
          <%=link_to "#{thought.user.name}", user_path(@user.id)%> added a thought.
          <div class="date">
            <%=local_time_ago(thought.created_at.strftime('%b %e, %l:%M %p'))%>
          </div>
        </div>
        <div class="extra text">
          <%=thought.content%>
        </div>
      </div>
    </div>
    <div class="ui divider hidden"></div>
  <% end %>
</div>
